:root {
  /* Colors — Primary */
  --color-primary: #f3c669;

  /* Colors — Neutrals */
  --color-neutral-50: #ffffff;
  --color-neutral-100: #424242;
  --color-neutral-200: #000000;
  --color-neutral-300: #eeeeee;
  --color-neutral-400: #17181a;
  --color-neutral-500: #757575;
  --color-neutral-600: #303030;
  --color-neutral-700: #939496;
  --color-neutral-800: #bdbdbd;
  --color-neutral-900: #212121;

  /* Colors — Backgrounds */
  --color-bg: #303030;
  --color-bg-1: #424242;
  --color-bg-2: #17181a;
  --color-bg-3: #212121;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #ffffff;
  --color-text-2: #757575;
  --color-text-3: #f3c669;
  --color-text-4: #bdbdbd;

  /* Typography — Families */
  --font-sans: 'Whitney', sans-serif;
  --font-body: 'Times New Roman', sans-serif;

  /* Typography — Scale */
  --font-size-51.2: 51.2px;
  --font-size-32: 32px;
  --font-size-27: 27px;
  --font-size-26.88: 26.88px;
  --font-size-24: 24px;
  --font-size-23.04: 23.04px;
  --font-size-19.2: 19.2px;
  --font-size-18: 18px;
  --font-size-17.5: 17.5px;
  --font-size-17: 17px;
  --font-size-16.8: 16.8px;
  --font-size-16.64: 16.64px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-24: 24px;
  --spacing-48: 48px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-120: 120px;
  --spacing-165: 165px;
  --spacing-220: 220px;
  --spacing-384: 384px;

  /* Border Radius */
  --radius-xs: 2px;
  --radius-full: 50px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0.2) 0px 0px 0px 0px, rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  --shadow-md: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  --shadow-lg: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;

  /* Original Site Variables */
  /* — colors — */
  --primary: #f3c669;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}